html{
    background-color: forestgreen;
}
h1, h2, h3, ul, p, a{
    color: darkblue;
}
body {
    position: relative;
  }

img{
    width: 900px;
    height: 900;
    margin: 0 auto;
    padding: 0 500px 100px 500px;
    display: inline-block;
    vertical-align: left;
 
    
}

image{
    right: 1%;
  top: 3%;
  position: fixed;
  font-size: 16px;
  color: #3d3d3d;
  cursor: pointer;
  padding-right: 100px;
  font-family: arial, sans-serif;
}